.channels-panel {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 45px;
    height: 100%;
    background-color: whitesmoke;
    border-right: black;
    border-right-width: 2px;
    border-bottom-width: 0px;
    transition: width .2s ease-out;
    > .channels-panel-switch {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
        > .text-switch {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            margin-left: 10px;
        }
        > .button-switch {
            align-self: flex-end;
            height: 45px;
            width: 45px;
            background-image: url(/public/img/switch.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            border-radius: 20px;
            &:hover {
                background-color: rgb(219, 215, 206);
            }
            &:active {
                background-color: grey;
            }
        }
    }
    &.toggle { 
        width: 120px;
        
        > .channels-panel-switch {
            
        }

        > .channels-panel-list {

        }
    }
}