header {
    display: flex;
    flex-flow: row nowrap;
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
    box-shadow: 1px 1px 2px grey;
    > .container {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: inherit;
        width: 100%;
        background-color: white;
        
        > .logo-container {
            box-shadow: 2px 0px 2px black;
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 auto;
            justify-content: center;
            background-color: white;
            padding-right: 10px;
            > .logo-img {
                display: block;
                margin-right: 10px;
                background-size: cover;
                background-image: url(/public/logo/logo-breand.png);
                width: 74px;
                height: 50px;
            }
            > .breand {
                padding-top: 8px;
                font-weight: bold;
                text-align: center;
                text-shadow: 0 0 3px blueviolet;
                font-style: oblique;
                color: black;
                text-decoration: none;
                margin-left: 6px;
                font-size: 21px;
                width: 100%;
            }

        }
        > .search-container {
            margin-right: 10%;
            display: flex;
            flex-flow: row nowrap;
            flex: 0 0 auto; 
            > .search-img {
                border-radius: 20%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url(/public/img/search.png);
                height: 25px;
                width: 25px;
                margin-top: 13px;
                border-color: black;
                border-width: 1px;
                border-style: groove;
                &:hover{
                    background-color: blue;
                }
            }
            > .search-box {
                margin-left: 5px;
                margin-top: 13px;
                padding-bottom: 3px;
                height: 25px;
                
                // > :hover {
                //     box-shadow: 0 2px 100px pink;
                // }
            }
        }
        > .profile-container {
            flex: 0 0 auto;
            width: 50px;
            height: 50px; 
            > .profile-img {
                margin-top: 2px;
                display: block;
                background-repeat:no-repeat;
                background-size: contain;
                background-image: url(/public/img/profile-diffalt.png);
                border-radius: 100%;
                height: 45px;
                width: 50px;
            }
        }
    }
}