.mainWindow {
    display: flex;
    position: absolute;
    flex: nowrap column;
    justify-content: flex-start;
    justify-items: center;
    background: aqua;
    margin: 10%;
    width: 80%;
    height: 80%;
    .text {
        margin-top: 20%;
        justify-self: center;
        height: 30px;
    }
}