.mainWindow {
    display: flex;
    position: absolute;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    justify-items: center;
    background: aqua;
    margin: 10vh;
    width: 80%;
    min-height: 80%;
    border-radius: 1%;
    .inputBox {
        padding: 5px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        .LinkWord {
            width: 60px;
            text-decoration: none;
            color: black;
        }
        .text {
            margin-top: 20%;
            justify-self: center;
            height: 30px;
        }
        .enter {
            padding: 2px;
            min-height: 30px;
            max-height: 50%;
            width: 100px;
            border-radius: 10px;
        }
    }
    .textSome {
        margin-left: 5px;
        padding: 2px;
        overflow-wrap: break-word;
        margin-top: 20%;
        justify-content: center;
        font-size: 24px;
        font-weight: bold;
        max-width: 200px;
        min-width: 50px;
        width: 30%;
        overflow: hidden;
    }
    .viewBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        padding: 4px;
        width: 70%;
        background-color: darkgray;
        justify-content: flex-start;
        align-content: flex-start;
        justify-self: flex-end;
        border-radius: 3%;
        .BlockView {
            background-color: black;
            margin: 5px;
            min-width: 30px;
            max-width: 100px;
            min-height: 30px;
            max-height: 70px;
            border-radius: 12%;
            color: white;
            font-size: 24px;
            font-weight: bold;
            overflow-wrap: break-word;
            overflow: hidden;
            transition: transform .5s ease-in-out, width .1s ease-in-out .2s, background-color .2s ease-in-out .2s, height .1s ease-in-out .2s;
            transform-origin: 50%;
            cursor: default;
            &:hover {
                background-color: burlywood;
                min-width: 30px;
                min-height: 30px;
                transform: rotateZ(180deg) scale(1%)
            }
        }
    }
}